
*{ margin: 0; padding: 0;
   /* border: 1px solid red; */
}


canvas {
   position:absolute;
   left:0;
   top:0;
   z-index:-1;
   background-color: rgb(12, 12, 163);
}

.container {
   background-color: whitesmoke;
   width: 40%;
   padding: 10px;

   position:absolute;
   z-index:0;
   top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.notes-close {
   text-align: end;
}
.resetList {
  font-size: 1.8rem;
  width: 6%;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  background-color: #e7e7e7;
}


.notes-title {
   font-size: 2em;
   text-align: center;
}

.notes-form {
   display: flex;
   justify-content: center;
}


.input {
   width: 80%;
   font-size: 1.2rem;
   border-radius: 8px;
   padding: 0.8%;
   margin: 2%;
   margin-left: 4.6%;
}

.btnInput {
   width: 32px;
   height: 32px;
   cursor: pointer;
}

.notes-list {
   margin: 4%;
}
.radio {
   height: 20px;
   width: 20px;
   cursor: pointer;
}

.task {
   padding: 10px;
   font-size: 1.6em;
}

input:checked + label {
   color: grey;
   text-decoration: line-through;
}



/* Source code from: https://www.codehim.com/animation-effects/javascript-confetti-explosion-effect/*/
@media only screen and (min-width: 720px){
    main{
      max-width: 720px;
      margin-right: auto;
      padding: 24px;
    }
}

.set-overlayer,
.set-glass,
.set-sticky {
	cursor: pointer;
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	color: #333;
	font-size: 16px;
}
.set-overlayer:after,
.set-glass:after,
.to-active:after,
.set-sticky:after {

	font-size: 18pt;
	position: relative;
	float: right;
}
.set-overlayer:after,
.set-glass:after,
.set-sticky:after {
	content: "\f204";
	/* transition: .6s; */
}

.to-active:after {
	content: "\f205";
	color: #008080;
	/* transition: .6s; */
}
.set-overlayer,
.set-glass,
.set-sticky,
.source,
.theme-tray {
	margin: 10px;
	background: #f2f2f2;
	border-radius: 5px;
	border: 2px solid #f1f1f1;
	box-sizing: border-box;
}

/* Syntax Highlighter*/
pre.prettyprint {
	padding: 15px !important;
   margin: 10px;
	border: 0 !important;
  background: #f2f2f2;
  overflow: auto;
}

.source {
	white-space: pre;
	overflow: auto;
	max-height: 400px;
}
code{
    border:1px solid #ddd;
    padding: 2px;
    border-radius: 2px;
}
