<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/CSS/style.css">

</head>
<body>
<main>
    <canvas class="confetti" id="canvas"></canvas>
    <div class="container">
        <div class="box">
            <div class="notes">
<!--                <div class="notes-close">-->
<!--                    <button type="button" class="resetList" >X</button>-->
<!--                </div>-->
                <div class="notes-title">
                    <h1>To Do List</h1>
                </div>
                <form action="/addTodo" method="post" >
                    <div class="note-form">
                        <input name="todo" type="text" class="input"/>
                        <input type="submit" value="+" class="btnInput">
                    </div>
                </form>
                <hr />
                <div class="notes-list">
                    <div class="task" th:each="todo : ${todos}">
                        <input type="checkbox" class="radio done" id="done">
                        <label class="label-text" th:text="${todo.todo}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Confetti JS -->
<script src="/js/confetti.js" defer></script>
</body>
</html>